main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
}

.portfolio-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 300px);
}

.portfolio-grid__item {
    background-color: var(--color-secondary-powder-blue);
    padding: 8px 16px 16px 16px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 12px;
    box-shadow: 2px 2px 8px #999;
    border: 4px solid var(--color-secondary-slate-gray);
    transition: transform 0.3s ease;
    width: 300px;
}

.portfolio-grid__item:hover {
    transform: scale(1.10);
    box-shadow: 4px 4px 16px #999;
}

.portfolio-grid__item > a:first-child {
    display: flex;
    justify-content: center;
}

.project-image {
    background-size: contain;
    width: 280px;
    height: 150px;
    align-self: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#etch-a-sketch {
    background-image: url("../images/etch-a-sketch.png");
}

#calculator {
    background-image: url("../images/calculator.png");
}

#rock-paper-scissors {
    background-image: url("../images/rock-paper-scissors.png");
}

#chuck-norris {
    background-image: url("../images/chuck-norris-project.png");
}

#odin-form {
    background-image: url("../images/odin-form.png");
}

#drum_kit {
    background-image: url("../images/drumkit-project.png");
}

.portfolio-grid__item > p {
    color: var(--color-primary);
}

.portfolio-grid__item > a:last-child {
    justify-self: end;
    font-weight: semi-bold;
    color: var(--text-color);
}

.portfolio-grid__item > a:hover {
    color: var(--accent-color);
}

@media all and (max-width: 500px) {
    .portfolio-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .portfolio-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }   
}